body{
	color: white;
	text-align: center;
}
#video{
  position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -1000;
}
header{
	  overflow-x: visible;
}
nav{
	background-color:rgba(16,20,26,0.8);
	box-shadow:5px #888;
}

.unete{
	background-color:rgba(16,20,26,0.7);
	margin-top: 5%;

}
.botones{
	margin-right: 500px;
}
#logo{
	margin-right: 18% !important;
	position: static;
}
@media (max-width: 1121px) {
.botones{
	margin-right: 0px;
}
#logo{
	margin-right: 18% !important;
   }


/*ESTILOS DEL FORMULARIO*/
#boton_lider{
	text-align: center;
	margin-left: 50%;
}
.lider{
	margin-left: 50%;
}
button{
	background-color:rgba(16,20,26,0.7);
}
.enviar button :hover {
	background-color:rgba(16,20,26,0.7);
}
/*FIN ESTILOS DEL FORMULARIO*/